<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Gra{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Gra Powstańcza</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                {% if not session.get('patrol_id') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.index') }}">Logowanie</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.status') }}">Status</a>
                </li>
                {% if session.get('patrol_id') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.task', patrol_id=session.get('patrol_id', 1)) }}">Zadania</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.ranking') }}">Ranking</a>
                    </li>
                    {% if session.get('family_won') %}
                        <li class="nav-item">
                            <a class="nav-link btn btn-success text-white" href="{{ url_for('main.winner') }}">Wygrana</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-danger text-white" href="{{ url_for('main.change_password') }}">Zmień hasło</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-secondary text-dark" href="{{ url_for('main.logout') }}">Wyloguj się</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
