{% extends "base.html" %}

{% block title %}Ranking{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Ranking Rodzin - Droga {{ 'Rój "POWIŚLE"' if route == 'a' else 'Rój "STARÓWKA"' }}</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Miejsce</th>
                    <th>Rodzina</th>
                    <th>Czas zakończenia</th>
                    <th>Czas trwania gry</th>
                    <th>Odkryte magazyny</th>
                    <th>Sumaryczna kara czasowa</th>
                </tr>
            </thead>
            <tbody>
                {% for family in families %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ family.name }}</td>
                    <td>{{ family.end_time.strftime('%H:%M:%S') if family.end_time else 'Gra nie zakończona' }}</td>
                    <td>
                        {% if family.end_time %}
                            {{ family.total_time // 3600 }}h 
                            {{ (family.total_time % 3600) // 60 }}m
                        {% else %}
                            Gra nie zakończona
                        {% endif %}
                    </td>
                    <td>{{ family.discovered_magazines }}</td>
                    <td>{{ family.total_penalty_time }} minut</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
